.book{
    background-image: linear-gradient(106deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
    @media all and (max-width: 576px){
        background-image: linear-gradient(106deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%), url(../images/nat-10.jpg);
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-form{
        padding: 3.75rem 3.5rem;
    }
}
.form{
    &-control{
        display: block;
        border: 2px solid transparent;
        outline: none;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 3px;
        color: inherit;
        &:focus{
            border-bottom: 2px solid red;
        }
        &:focus:not(:placeholder-shown){
            border-bottom: 2px solid green;
        }
        &::placeholder{
            color: $color-grey-light-2;
            text-transform: capitalize;
            font-size: 1rem;
        }
        &:placeholder-shown + label{
            transform: translateY(-44px);
            visibility: hidden;
            opacity: 0;
        }
        & + label{
            display: inline-block;
            text-transform: capitalize;
            padding: 0.5rem 1.25rem;
            transition: all .3s ease-in-out;
            opacity: 1;
        }
    } 
    &-radio-group{
        @media all and (min-width: 1140px){
            @include between; 
        }
        margin-bottom: 2rem;
        label{
            position: relative;
            @media all and (max-width:576px){
                padding-left: 25px;
            }
            @media all and (min-width:576px){
                padding-left: 25px;
            }
            @media all and(min-width: 768px){
                padding-left: 40px;
            }
        }
    }
    &-custom-radio {
        border: 4px solid $color-primary;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: 0;
        &::after{
            content: "";
            height: 1rem;
            width: 1rem;
            background-color: $color-primary;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    &-radio-control{
        display: none;
    }
    &-radio-control:checked ~ label > &-custom-radio::after{
        opacity: 1;
    }
    & .btn-green{
        @media all and (min-width:768px){
            padding: 0.8rem 1.5rem
        }
        @media all and (min-width:992px){
            padding: 0.8rem 3.5rem
        }
    }
}